/* IAT 339 Project 2 Booking CSS Code

  The Hologram Station

   created by: Marlon Hernandez + Jong Won Im

  modified on June 14, 2017

*/
ul{list-style-type: none;}

/*Month header*/
.month{
	padding: 70px 0px;
	width: 100%;
	background: rgb(18 , 125, 232);
}

/*month list*/
.month ul{
	margin: 0;
	padding: 0;
}

.month ul li{
	color: white;
	font-size: 20px;
	text-transform: uppercase;
	letter-spacing: 3px;
	text-align: center;

}

/*button inside month header*/
.month .prev{
	float:left;
	padding-top: 10px;
}
.month .next{
	float: right;
	padding-top: 10px;
}

/*weekdays(m-s)*/
.weekdays{
	margin: 0;
	padding: 10px 0;
	background-color: #ddd;
}

.weekdays li{
	display: inline-block;
	width: 13.6%;
	color: #666;
	text-align: center;
}

/*days (1-30)*/
.days{
	padding: 10px 0;
	background: #eee;
	margin: 0;
}
.days li{
	list-style-type: none;
	display: inline-block;
	width: 13.6%;
	text-align: center;
	margin-bottom: 5px;
	font-size: 12px;
	color: #777;
}

/*highlight the current day*/
.days li .active{
	padding: 5px;
	color: white;
	background: rgb(18 , 125, 232);
	color: white !important
}

/*main menu*/
/*
.main-nav-list{
    list-style-type: none;
    margin: 0;
    padding: 0;
    border: 3px solid black;
    transition: 0.5s;
    color: rgb(255, 255, 255);
/*    padding: 0.5em 0.75em;    
	border-radius: 0.25em;
    text-decoration: none;
    -webkit-transition: background-color 0.5s ease-out;
    transition: background-color 0.5s ease-out;
    overflow: hidden;
      background-color: #333;
    font-size: 125%;
}

.main-nav-list li{
  float: left;
  color: #FFF;
  border-right: 2px solid black;

}

.main-nav-list a{
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  margin-right: 30px;
  margin-left: 30px;
  text-decoration: none;
}

.main-nav-list :hover:not(.active){
background-color: rgb(18 , 125, 232);
background-color: #999;

}
.main-nav-list a:focus{
color: rgb(30, 30, 30);
}
*/
.submit-button {
	position: absolute;
	left: 10%;
	top:50%;
/*	width: 80%;
*/	text-align: center;

  background-color: rgb(18 , 125, 232);
  border: 3px solid black;
  transition: 0.5s;
  color: rgb(255, 255, 255);
  /*padding: 2em 0.75em;*/
  border-radius: 0.25em;
  text-decoration: none;
  -webkit-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;

}

.submit-button:hover/*, .submit-button:focus*/{
  /*background-color: rgb(7, 245, 115);*/
  background-color: #999;
  /*color:rgb(25, 25, 25);*/
  color: rgb(0, 0, 0);
}

.center-button{
	position: absolute;
	left: 0%;
	top:50%;
	width:100%;
	text-align: center;
}

.imgTop{
	width: 100%;
}